.body1{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("new.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    
}

.body2{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("new.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 50px;
}

.container1{
    max-width: 400px;
    width: 100%;
    background-color:rgb(169, 180, 196);
    padding: 20px;
    opacity: 0.8;
    box-shadow: 0px,0px,15px,rgba(0,0,0,0.1);
    border-radius: 10px;


}
.container2{
    max-width: 800px;
    width: 100%;
    background-color:rgb(169, 180, 196);
    padding: 20px;
    opacity: 0.8;
    box-shadow: 0px,0px,15px,rgba(0,0,0,0.1);
    border-radius: 10px;
}

h1{
    text-align: center;
    margin-bottom: 30px;
}

.login-group{
    margin-bottom: 20px;
}

.input-field{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.input-field input,
.input-field select
{
    height: 45px;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: rgb(207, 217, 231);
    font-size: 16px;
}

.radio-group{
    display: flex;
    align-items: center;
    gap: 0;
    margin-right: 10px;
    
}

.radio-group label{
    max-resolution: 0;
    gap: 15px;
}

.radio-group input[type="radio"]{
    margin-right: 5px;
}

.sign-inline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

label{
    display: block;
    margin: 10px;

}


.button-group{
    display: flex;
    justify-content: center;
    align-items: center;

}

.login,
.submit{
    margin-top: 10px;
    width: 80%;
    height: 50px;
    background-color: rgb(146, 156, 171);
    border-color: black;
    border: 2px solid #333;
    border-radius: 30px;
    cursor: pointer;
}

.login:hover,
.submit:hover{
    background-color: rgb(121, 130, 143);
}

.login-group span{
    font-size: small;
}

.login-group a{
    text-decoration: none;
}

.login-group a:hover{
    text-decoration: underline;
}

b{
    color: red;
}

.check{
    margin:20px;
}

